/* div {
  background-color: #ffffff;
} */

#root {
  /* max-width: 100px; */
  /* max-width: 1280px; */
  /* margin: 0 auto; 
  padding: 2rem;  */
  /* text-align: center; */
  /* background-color: rgb(195, 191, 191); */
}

.main-page {
  display: flex;
  background-color: rgb(223, 223, 223);
  /* width: 100%; */
  /* gap: 400 px; */
  /* justify-content: space-around;
    align-items: center; */
  /* margin: auto; */
  /* max-width: 100px;  */
  /* flex: 1 1 0; should probably remove if problem */
  /* justify-content: space-between; */
  
}

.input-section {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  margin-top: 25px;
  margin-left: 250px;
  /* background-color: black; */
 
}


.display-section {
  display: flex;
  flex-direction: column;
  margin: 25px 25px 50px 20px;
  
  min-width: 700px;
  background-color: white;
}
/* 
.display-section > * {
  flex: 1;
  width: 50%;
  box-sizing: border-box;
} */


