/* Personal Info Component */
.personal-info {
    background-color: hsl(221, 63%, 29%);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    /* margin-right: 0px; */
    gap: 1px;
}

.name {
    font-size: 40px;
    margin: 0 100px 0 100px;
}

.details {
    display: flex;
}

/*Personal Input Component */
.input-class {
    background-color: white;
    padding: 10px 0px 15px 20px;
    border-radius: 5%;
    margin-bottom: 20px;
}

.expucation {
    padding-left: 20px;
    padding-right: 20px;
}


/* Education Info Component */
.education-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(213, 213, 213);
}

.firstline-ed {
    display: flex;
    gap: 50px;
}

.secondline-ed {
    display: flex;
    gap: 50px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }