/* Personal Info Component */
.personal-info {
    background-color: hsl(221, 63%, 29%);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    /* margin-right: 0px; */
    gap: 1px;
}

.name {
    font-size: 40px;
    margin: 0 100px 0 100px;
}

.details {
    display: flex;
}


/* Education Info Component */
.education-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(194, 194, 194);
}

.firstline-ed {
    display: flex;
    gap: 50px;
}

.secondline-ed {
    display: flex;
    gap: 50px;
}