/* div {
  background-color: #ffffff;
} */

#root {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 2rem; 
  text-align: center;
}

.main-page {
  display: flex;
  flex: 1 1 0; /* should probably remove if problem */
  justify-content: space-evenly;
}

.input-section {
  display: flex;
  flex-direction: column;
}


.input-section {
  display: flex;
  flex-direction: column;
}



