/* div {
  background-color: #ffffff;
} */

#root {
  max-width: 100px;
  /* max-width: 1280px; */
  /* margin: 0 auto; 
  padding: 2rem;  */
  /* text-align: center; */
}

.main-page {
  display: flex;
  /* width: 100%; */
  gap: 1000 px;
  /* margin: auto; */
  /* max-width: 100px;  */
  /* flex: 1 1 0; should probably remove if problem */
  justify-content: space-between;
}

.input-section {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
 
}


.display-section {
  display: flex;
  flex-direction: column;
  margin: 10px 50px 100px 500px;
  border: 1px solid aqua;
}
/* 
.display-section > * {
  flex: 1;
  width: 50%;
  box-sizing: border-box;
} */


